<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
      <a class="navbar-brand" href="/clients"><img src="./tea.png" alt="tea img" height="65" width="65"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/create">Create New</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/grand-totals">Total</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/daily-deductions">Report</a>
            </li>
            <li class="nav-item"></li>
                <a class="nav-link active" aria-current="page" href="/finance">Finance Management</a>
            </li>
            <li class="nav-item"></li>
            <button id="backupButton">Backup Data</button>
        </li>
          </ul>
          <form action="/clients" method="get" class="mb-4">
              <div class="input-group">
                  <input type="text" name="search" class="form-control" placeholder="Search by table name...">
                  <button class="btn btn-primary" type="submit">Search</button>
              </div>
          </form>
      </div>
  </div>
</nav>
<style>
    #backupButton {
     background-color: White !important;
     border: none !important;
    }
</style>

<script>
document.getElementById("backupButton").addEventListener("click", () => {
    fetch('/backup', {
        method: 'POST',
    })
    .then(response => response.json())
    .then(data => alert(data.message))
    .catch(error => console.error('Error:', error));
});
</script>


